<div class="container-fluid bg-1 pb-5 pb-md-1 crea-cont">
    <div class="row">
        <div class="col-12 col-md-10 col-xl-8 p-3 pt-0 p-sm-5">
        <div class="row">
            <div class="col-12 col-sm-6 text-style-1 mt-5 mb-1 mb-sm-5 text-left text-sm-right"><p>Crea tus <br>zapatos</p></div>
            <div class="col-12 col-sm-6 text-style-2 mt-1 mt-sm-5 mb-5 text-left"><p>Es muy <br>fácil</p></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 text-left text-md-center" style="padding-right: 0">
            <div class="portada-3  crea-1"></div>
            <p class="text-style-3 pt-4 pt-md-1"><span>Elige</span> el tipo <br> de zapato que quieres</p>
            </div>
            <div class="col-12 col-md-4 text-left text-md-center" style="padding-right: 0">
            <div class="portada-3 crea-2"></div>
            <p class="text-style-3 pt-4 pt-md-1"><span>Diseñalo</span><br> y ponle color en linea</p>
            </div>
            <div class="col-12 col-md-4 text-left text-md-center" style="padding-right: 0">
            <div class="portada-3 crea-3"></div>
            <p class="text-style-3 pt-4 pt-md-1"><span>Fabricaremos</span><br> tu zapato tal cual lo soñaste</p>
            </div> 
        </div>
        <div class="row mt-3">
            <div class="col-12">
            <div class="select-category-inv">
                <app-create clase="title-select-inv"></app-create>
            </div>         
            </div>
        </div>
        </div>
    </div>    
</div>