
<swiper [config]="configSwiper" [(index)]="index" class="row">
    <div class="swiper-slide">
        <div class="slider-ofertas">  
            <h1 class="font-light mt-5 mb-5 text-left" style="text-transform: uppercase;"><b>Colecciones</b></h1>                     
            <h3 class="float-left font-light" style="text-transform:uppercase;">Una salida casual</h3>
            <div class="btn-articulo float-right ml-3 mt-5 mt-xl-1" style="text-transform:uppercase;">ver colección</div>
            <div class="clearfix"></div>
            <div class="portada-coleccion text-center" style="background-image: url('assets/images/portada_1.png');"></div>
        </div>     
    </div>
    <div class="swiper-slide">
        <div class="slider-ofertas"> 
            <h1 class="font-light mt-5 mb-5 text-left" style="text-transform: uppercase;"><b>Colecciones</b></h1>                             
            <h3 class="float-left font-light" style="text-transform:uppercase;">Una salida formal</h3>
            <div class="btn-articulo float-right" style="text-transform:uppercase;">ver colección</div>
            <div class="clearfix"></div>
            <div class="portada-coleccion text-center" style="background-image: url('assets/images/portada_1.png');"></div>
        </div>     
    </div>        
</swiper> 
<div class="row">
    <div class="col-12 mb-5">
        <div class="btns-slider-1">
            <div class="btn-slider-l swiper-button-prev-c"><i class="fas fa-chevron-left"></i></div>
            <div class="btn-slider-r swiper-button-next-c"><i class="fas fa-chevron-right"></i></div>
        </div>     
    </div>
</div>   