<div class="container-fluid mt-5 mb-5 list-create">
    <div class="row justify-content-center d-none d-lg-flex">
      <div class="col-2 text-center mx-center ani-1" (click)="irPersonalizador('zapatillas')">   
          <div class="cont-cat cat-1">
            <img src="assets/images/icono_1.svg" class="cat-home">
          </div>
        <p class="mb-3 name-item-categories small-5">zapatillas</p>
        <img class="pl-1 pt-1 rounded-circle" src="assets/images/draw-a-picture.svg" style="background-color: #A27EE5;width:40px;">
      </div>
      <div class="col-2 text-center mx-center ani-2" (click)="irPersonalizador('botines')">
        <div class="cont-cat cat-2">
          <img src="assets/images/icono_2.svg" class="cat-home">
        </div>
        <p class="mb-3 name-item-categories small-5">botines</p>
        <img class="pl-1 pt-1 rounded-circle" src="assets/images/draw-a-picture.svg" style="background-color: #D6824E;width:40px;">
      </div>
      <div class="col-2 text-center mx-center ani-3" (click)="irPersonalizador('mocasines')">
        <div class="cont-cat cat-3">
          <img src="assets/images/icono_3.svg" class="cat-home">
        </div>
        <p class="mb-3 name-item-categories small-5">Mocasines</p>
        <img class="pl-1 pt-1 rounded-circle" src="assets/images/draw-a-picture.svg" style="background-color: #F2DA73;width:40px;">
      </div>
      <div class="col-2 text-center mx-center ani-4" (click)="irPersonalizador('suecos')">
        <div class="cont-cat cat-4">
          <img src="assets/images/icono_4.svg" class="cat-home">
        </div>
        <p class="mb-3 name-item-categories small-5">Suecos</p>
        <img class="pl-1 pt-1 rounded-circle" src="assets/images/draw-a-picture.svg" style="background-color: #AED169;width:40px;">
      </div>
      <div class="col-2 text-center mx-center ani-5" (click)="irPersonalizador('casual')">
        <div class="cont-cat cat-5">
          <img src="assets/images/icono_5.svg"class="cat-home">
        </div>
        <p class=" mb-3 name-item-categories small-5">casual</p>
        <img class="pl-1 pt-1 rounded-circle" src="assets/images/draw-a-picture.svg" style="background-color: #9B5959;width:40px;">
      </div> 
    </div>      
      <div class="row d-block d-lg-none">
        <div class="select-category text-center text-md-right mr-md-5">
          <app-create clase="title-select"></app-create>
        </div>    
      </div>   
  </div>