<div class="container-fluid bg-2 p-3 p-md-5">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-xs-12 col-md-8 col-lg-6 text-center float-none floar-md-left">
            <p class="name-item-categories mb-5">SUSCRÍBETE A NUESTRO BOLETÍN</p>
            <form [formGroup]="formNew" (ngSubmit)="suscripcion()">
                <div class="form-group">
                    <div class="item-suscription">
                        <input [class.input-invalid]="correoN" formControlName="correoN" class="form-control float-none float-md-left" type="text" placeholder="ejemplo@correo.com" required>
                        <button type="submit" class="btn-suscripcion float-none float-md-left">SUSCRÍBETE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>